html{
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    justify-content: center;
    background: url('background.jpg');
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: auto;
}

.main{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    
}

.main div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid white;
    color: white;
    font-weight: bolder;
    background-color: rgba(0, 0, 0, 0.4);
    min-width: 5vw;
    min-height: 6vh;
    transition:0.5ms;
}

.main div span{
    color: yellow;
}

.main div:hover{
    scale: 1.1;
    background-color: rgba(0, 0, 0, 0.28);
    box-shadow: 0 0 10px yellow;
}

.keydown{
    scale: 1.1;
    background-color: rgba(0, 0, 0, 0.28);
    box-shadow: 0 0 10px yellow;
}